<?js
var data = obj;
var self = this;
var typeSignature = '';

if (data.type && data.type.names) {
    typeSignature += '<span class="type-signature type">';
    data.type.names.forEach(function (name) {
        typeSignature += self.linkto(name, self.htmlsafe(name));
        typeSignature += ' | ';
    });
    typeSignature = typeSignature.slice(0, -3) + '</span>';
}
?>
<dt>
    <div class="nameContainer">
        <h4 class="name" id="<?js= id ?>">
            <a class="share-icon" href="#<?js= id ?>"><span class="glyphicon glyphicon-link"></span></a>
            <span class="<?js= data.deprecated ? 'status-deprecated' : '' ?>"><?js= (data.scope === 'static' ? longname : name) ?></span>
            <?js= typeSignature ?>
            <?js if (data.deprecated) { ?>
                <span class="access-signature deprecated">Deprecated<?js
                    if (typeof data.deprecated === 'string') { ?>
                    : <span class="deprecated-info"><?js= data.deprecated ?></span>
                    <?js }
                ?>
                </span>
            <?js } ?>
            <?js= data.attribs ?>
            <?js if (data.inherited || data.inherits) { ?>
                <span class="access-signature inherited"><?js= this.linkto(data.inherits, 'inherited') ?></span>
            <?js } ?>
            <?js if (data.overrides) { ?>
                <span class="access-signature overrides"><?js= this.linkto(data.overrides, 'overrides') ?></span>
            <?js } ?>
        </h4>
    </div>
    
    <?js if (data.summary) { ?>
    <p class="summary"><?js= summary ?></p>
    <?js } ?>
</dt>
<dd>
    <?js if (data.description) { ?>
    <div class="description">
        <?js= data.description ?>
    </div>
    <?js } ?>
    
    <?js= this.partial('details.tmpl', data) ?>
    
    <?js if (data.examples && examples.length) { ?>
        <h5>Example<?js= examples.length > 1? 's':'' ?></h5>
        <?js= this.partial('examples.tmpl', examples) ?>
    <?js } ?>
</dd>
